{% extends 'header.html' %} {% block content %}
<main>
    <h1 class="text-center">Galería de Imágenes de la NASA</h1>
    <div class="d-flex justify-content-center" style="margin-bottom: 1%">
        <!-- Buscador del sitio -->
        <form class="d-flex" action="{% url 'buscar' %}" method="POST">
            {% csrf_token %}
            <input class="form-control me-2" type="search" name="query" placeholder="Escribí una palabra" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>


    <section class="nasaCard-section" >
        <ul class="nasaCard-container">
            {% for imagen in images %}
            <li class="nasaCard">
                    <h5>{{ imagen.title}}</h5>
                    <figure style="margin: 0;">
                        <img src="{{ imagen.image_url}}" alt="imagen"/>
                    </figure>
                    <div class="nasaCard-text-content">
                        <p >{{ imagen.description}}</p>
                    </div>
                    {% if request.user.is_authenticated %}
                    <div class="card-footer text-center">
                        <form method="post" action="{% url 'agregar-favorito' %}">
                            {% csrf_token %}
                            <input type="hidden" name="title" value="{{ imagen.title }}">
                            <input type="hidden" name="description" value="{{ imagen.description }}">
                            <input type="hidden" name="image_url" value="{{ imagen.image_url }}">
                            <input type="hidden" name="date" value="{{ imagen.date }}"> {% if imagen in favourite_list %}
                            <button type="submit" class="btn btn-primary btn-sm float-left" style="color:white" disabled>✔️ Ya está añadida a favoritos</button> {% else %}
                            <button type="submit" class="btn btn-primary btn-sm float-left" style="color:white">❤️ Añadir a favoritos</button> {% endif %}

                        </form>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}